html {
    font-family: 'Roboto', sans-serif;
    a {
        text-decoration: none;
    }
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        header {
            display: flex;
            align-items: center;
            gap: 5px;
            justify-content: space-between;
            flex-wrap: wrap;

            .header__logo {
                height: 100px;
                width: 200px;
            }

            .header__bannerTag {
                display: flex;
                list-style: none;
                margin-right: 25px;
                gap: 10px;
                flex-wrap: wrap;

                li {
                    border: 2px solid #f2f2f2;
                    border-radius: 15px;
                    font-size: 1.2rem;
                    padding: 2px;
                    color: #901c1c;
                    padding: 5px;
                    flex: 1;
                }
            }

            .header__title {
                color: #901c1c;

            }
        }
       
    }
}